@import 'bootstrap.css';
@import 'camera.css';
@import 'mailform-sub.css';

/* Custom CSS here*/
@font-face {
  font-family: 'Humanist777BT-regular';
  src: url('../fonts/Humanist777BT-RomanB.eot?#iefix') format('embedded-opentype'),  url('../fonts/Humanist777BT-RomanB.woff') format('woff'), url('../fonts/Humanist777BT-RomanB.ttf')  format('truetype'), url('../fonts/Humanist777BT-RomanB.svg#Humanist777BT-RomanB') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Humanist777BT-Bold';
  src: url('../fonts/Humanist777BT-BoldCondensedB.eot?#iefix') format('embedded-opentype'),  url('../fonts/Humanist777BT-BoldCondensedB.woff') format('woff'), url('../fonts/Humanist777BT-BoldCondensedB.ttf')  format('truetype'), url('../fonts/Humanist777BT-BoldCondensedB.svg#Humanist777BT-BoldCondensedB') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Humanist777BT-LightB';
  src: url('../fonts/Humanist777BT-LightB.eot?#iefix') format('embedded-opentype'),  url('../fonts/Humanist777BT-LightB.woff') format('woff'), url('../fonts/Humanist777BT-LightB.ttf')  format('truetype'), url('../fonts/Humanist777BT-LightB.svg#Humanist777BT-LightB') format('svg');
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: 'Humanist777BT-regular';
  font-size: 14px;
  color: #333;
}
h1, h2, h3, h4, h5, h6 {
  font-family: 'Humanist777BT-Bold';
}
.sf-menu li a {
  font: 18px 'Humanist777BT-LightB' !important;
  letter-spacing: -0.7px;
}
.footer-logo {
  height: 80px
}
.navbarbarra {
  border-left: 12px solid #EC1C24;
}
.content-middle-banners {
  position: relative;
}
.jumbotron {
  bottom: 63%;
  font: italic 1.2em 'Humanist777BT-LightB'
}
.jumbotron .head {
  line-height: 1.3;
}
.jumbotron .head, .text-shadow-black {
  text-shadow: 1px 1px 2px #000;
  -moz-text-shadow: 1px 1px 2px #000;
}
.no-txt-shadow {
  text-shadow: none !important;
  -moz-text-shadow: none !important;
}
.franja-roja {
  width: 100%;
  height: 50px;
  position: absolute;
  background-color: rgba(255, 0, 0, 0.48);
  z-index: 9;
  bottom: 51.5%;
}
.bg-before-footer {
  background: url('../images/fondo.png') no-repeat 50% 50%;
  padding-top: 30px;
  padding-bottom: 30px;
}
.bg-before-footer p {
  color: #333;
  font-size: 1.3em;
  font-family: 'Humanist777BT-Bold';
}
#toTop i {
  color: #fff;
  font-size: 1.5em;
  vertical-align: text-bottom;
  line-height: inherit;
}
.navbar-nav li+li:before {
  padding: 0px 5px 0 3px;
  color: #fff;
  content: "|";
}
.list-prroducts {
	list-style-type:disc;
	font-style: #fff;
	color: #ec1c24;
	padding-left: 20px;
}

.normal {
	border: 1px solid #ec1c24;
	border-collapse: collapse;
	font-size: 18px;
}
.normal th, .normal td {
  border: 1px solid #ec1c24;
}
.txtpprod p {
	color: #333;
	margin-bottom: 10px;
}
.wellproductos{
  padding-left: 350px;
}
.well5nosotros .navbarbarra {
  padding-top: 15px;
  padding-bottom: 15px;
}
.well5nosotros .navbarbarra p {
  font: 29px 'Humanist777BT-LightB';
 }
 .product-list {
  font: 16px 'Humanist777BT-LightB';
 }

.containertable {
  margin-right: auto;
  margin-left: auto;
  font-size: 17px;
  color: #747474;
}
.list-services {
  margin-left: 30px;
}
.service-table caption {
  background-color: #ec1c24;
  color: #fff;
}
.service-table thead th {
  font-size: 1.3em;
  background-color: #ffb3b3;
}
.sub-title {
  font-size: 2em;
  line-height: 1;
  text-shadow: 1px 1px 2px #000;
  -moz-text-shadow: 1px 1px 2px #000;
}
.fs1-7em {
  font-size: 1.7em;
}
.fs2em {
  font-size: 2em;
}
.sub-title.title-md {
  font-size: 1.7em;
  letter-spacing: .5px;
  line-height: 1.3;
}
.sub-title.title-sm {
  font-size: 1.2em;
}
.line-he-m {
  line-height: 1.4
}
.line-he-xl {
  line-height: 2.4
}
.vision-mision p {
  color: #333;
}
.bg-black {
  background-color: #231F20;
  padding-top: 20px;
  padding-bottom: 20px;
}
form input.form-control {
  border: none;
  border-bottom: 1px solid #999;
  box-shadow: none;
}
form input.form-control:focus {
  box-shadow: none;
}
.fix-padding-btn {
  padding-top: 10px;
  padding-bottom: 10px;
}
.btn:hover, .btn:focus, .btn:active {
  background-color: #EC1C24;
  color: #fff;
}
.clientes .col-sm-4 {
  margin-bottom: 40px;
  margin-top: 40px;
  height: 120px
}
.wow {
  visibility: hidden;
}
p {
    font-size: 1.3em;
}
#productos, #servicios, .bg-trans {
  background: url('../images/bg-red-transparent.png') repeat-x;
}
#productos, .bg-bottom {
  background-position: center bottom;
}
#servicios, .bg-top {
  background-position: center top;
}
.parallax_image {
  z-index: -1;
}
.fa-chevron-up:before {
  line-height: 2.1
}
.navbar-nav li.active a {
  color: #000 !important;
}
.well2nosotros .parallax_cnt {
  display: none;
}
.pl40 {
  padding-left: 40px;
}
#main-products .content-icon {
  display: block;
  height: 120px;
}
#main-products .ins_r a {
  font: 20px 'Humanist777BT-LightB';
}
.offs1 {
  font-family: 'Humanist777BT-LightB';
  letter-spacing: 1.3px;
}
.p-fix {
  font-weight: bold;
  font-size: 16px;
}
.col-xs-15,
.col-sm-15,
.col-md-15,
.col-lg-15 {
    position: relative;
    min-height: 1px;
    padding-right: 10px;
    padding-left: 10px;
}
.col-xs-15 {
    width: 20%;
    float: left;
}
@media (min-width: 768px) {
.col-sm-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 992px) {
    .col-md-15 {
        width: 20%;
        float: left;
    }
}
@media (min-width: 1200px) {
    .col-lg-15 {
        width: 20%;
        float: left;
    }
}

@media (max-width: 991px) {
  #main-products img {
    height: 90px
  }
  .navbar-nav li+li:before {
    padding: 0 0 0 2px;
  }
  .navbar-nav > li > a {
    padding-left: 6px;
    padding-right: 6px;
  }
  .container {
    width: auto;
    padding-left: 15px !important;
    padding-right: 15px !important;
  }
}
@media (max-width: 767px) {
  .border-right {
    border:none;
  }
  #main-products > div {
    margin-bottom: 25px
  }
  #main-products img {
    height: inherit;
  }
  .tdprop, .service-table {
    font-size: .8rem;
  }
  .expand-pad {
    padding-left: 80px;
    padding-right: 80px;
  }
}